@{
    ViewBag.Title = "About";
}
<div class="about">
    <h1>Recipe Park</h1>
    <p class="lead">This is receipt collection site, food lovers can upload and share their favourit receipts.</p>
</div>

<h2>Who made it ?</h2>
<div class="row">
    <div class="col-sm-3 col-md-3">
        <h3>Xiurong Deng</h3>
        <p>
            Hi, I am Xiu and welcome to our recipe room. There is nothing would like sitting around with friends and families having great conversations over a delicious meal, add some wine or craft beer.
            I love cooking and also like to sharing my receipeS ,tips,and ideas with family and friends..
        </p>
    </div>
    <div class="col-sm-3 col-md-3">
        <h3>Developer</h3>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="col-sm-3 col-md-3">
        <h3>Developer</h3>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
    <div class="col-sm-3 col-md-3">
        <h3>Developer</h3>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>   
     </div>
</div>
